@use "../../Utils/variables";

h1 {
    text-align: center;
    color: variables.$color1;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h2 {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    font-size: 1em;
  }

  .section {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 2;
    font-family: "Roboto Mono", monospace;
    font-size: 0.8em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bold {
    text-transform: uppercase;
    font-weight: 700;
  }